# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
*.env

# Pipeline Generated
sgd_pipeline_spec.yaml

# Data & Models (Local Mounts)
models/*
!models/.gitkeep

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Kubernetes
.kube/
kubeconfig
